{{extend 'layout.html'}}

<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">{{=title}}</span>
        </div>
        <div class="card-body tab-content">   
            {{=form.custom.begin}}
            <div class="row">
                
                    <label class="col-sm-2 control-label">Choose Selections</label>
                    <div class="col-sm-10">
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="inlineRadioOptions" value="1"><span>By Sales Invoice</span>
                        </label>
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="inlineRadioOptions" value="2"><span>By Date Range</span>
                        </label>
                    </div>
                
                {{=form.custom.widget.category_id}}
                <label>Date Range</label>
                  <div class="col"><input class="form-control" id="no_table_from_date" name="from_date" type="date" value={{=request.now.date()}}></div>
                  <span>to</span>
                  <div class="col">
                    <div class="col"><input class="form-control" id="no_table_from_date" name="to_date" type="date" value={{=request.now.date()}}></div>
                  </div>
                  <div class="col">
                    {{=form.custom.submit}}
                  </div>
            </div>
            {{=form.custom.end}}
            <br>            
            {{=table}}      
        </div>
    </div>
</div>

<script>
    $(document).ready( function () {
        $("#inlineRadioOptions").checked(function(){
            console.log("option")
        })
        $('.table').DataTable({
            "bPaginate": false
        });

        $(".returned").click(function(e){                 
            var _id = $(this).closest('tr').find('input:text').val();
            if (this.checked) {                
                ajax("{{=URL('warehouse_sales','marked_sales_invoice_returned_id')}}" + '/'+ _id);
                alertify.success("For SRS marked.")
            } else {
                ajax("{{=URL('warehouse_sales','unmarked_sales_invoice_returned_id')}}" + '/'+ _id);
                alertify.notify("For SRS unmarked.")
            }
        });
        $(".returned_amount").change(function(e){                             
            var _id = $(this).closest('tr').find('input:text').val();
            var _amount = $(this).closest('tr').find('.returned_amount').val().replace(/,/g,"");
            if (!isNaN(_amount)) {                
                ajax("{{=URL('warehouse_sales','marked_sales_invoice_returned_amount_id')}}" + '/'+ _id + '/' + _amount);
                alertify.success("Amount added")
            } else {
                alertify.error("Amount Error!")
            }
                        
        });        
        
        $(".returned_good_receipt_no").change(function(e){                             
            var _id = $(this).closest('tr').find('input:text').val();
            var _good = $(this).closest('tr').find('.returned_good_receipt_no').val(); 
            ajax("{{=URL('warehouse_sales','put_good_receipt_no_id')}}" + '/'+ _id + '/' + _good);
            
        });        

        $(".delivered").click(function(e){                 
            var _id = $(this).closest('tr').find('input:text').val();
            if (this.checked) {                
                ajax("{{=URL('warehouse_sales','marked_sales_invoice_delivered_id')}}" + '/'+ _id);
                alertify.success("Delivered marked.")
            } else {
                ajax("{{=URL('warehouse_sales','unmarked_sales_invoice_delivered_id')}}" + '/'+ _id);
                alertify.notify("Delivered unmarked.")
            }
        });
    });

    // function mark_returned_good_receipt_no(x, y){
    //     var _good = $(this).closest('tr').find('input[name:returned_good_receipt_no]').val(); 
    //     var _value = $(".returned_good_receipt_no").val();
    //     console.log(x, y)
    // }
</script>
