{{extend 'layout.html'}}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
    <div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <span class="card-title">{{=title}}</span>
            </div>
            <div class="card-body tab-content">
                {{=form.custom.begin}}                
                <div class="row">
                    <label>Account Code</label>
                        <div class="col">{{=form.custom.widget.customer_code_id}}</div>
                    <label>Date Range</label>
                      
                      <div class="col"><input class="form-control" id="no_table_from_date" name="from_date" type="date" value="{{=request.now.date()}}"></div>
                      <span>to</span>
                      <div class="col">
                        <div class="col"><input class="form-control" id="no_table_from_date" name="to_date" type="date" value="{{=request.now.date()}}"></div>                        
                      </div>
                      <div class="col">
                        {{=form.custom.submit}}
                      </div>
                </div>
                {{=form.custom.end}}
                <br>                
                {{=table}}
            </div> 
        </div>
    </div>
    
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

<script>
$(document).ready( function () {        
    $('.table').DataTable({
        "order":[[0,"desc"]]
    });        
});
</script>
