{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#"> VIEW EDIT</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('sales_return_browse')}}";>BROWSE</a></li>
            </ul> -->
            <span class="card-title">SALES RETURN REQUEST</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Request No.</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.sales_return_request_prefix_id.prefix}}{{=_id.sales_return_request_no}}" readonly>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Request Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_return_request_date}}" readonly >
                            </div>
                        </div>                      
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Posted By</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_man_id.sales_man_name}}, {{=_id.sales_man_id.mv_code}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                <input type="text" class="form-control" id="dept_code_id" name="dept_code_id" value="{{=_id.dept_code_id.dept_code}}" hidden >
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.location_code_id.location_code}} - {{=_id.location_code_id.location_name}}" readonly >
                                <input type="text" class="form-control" id="location_code_id" name="location_code_id" value="{{=_id.location_code_id}}" hidden >
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Man</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_man_id.employee_id.first_name}} {{=_id.sales_man_id.employee_id.last_name}} " readonly>
                            </div>
                        </div>
                    </div>    
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Customer</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.customer_code_id.account_name}}, {{=_id.customer_code_id.account_code}} " readonly>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Reference</label>
                            <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.customer_order_reference}} " readonly>
                            </div>
                        </div>                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                    {{ if (_id.status_id == 14) or (_id.status_id == 13) or (_id.status_id == 12): }}
                                    <input type="text" class="form-control" value="{{=_id.status_id.description}} " readonly>                                    
                                {{ else: }}
                                    {{=form.custom.widget.status_id}}
                                {{ pass }}
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group"> 
                            <label class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">{{=_address}}</div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Section</label>
                            <div class="col-sm-8">{{=form.custom.widget.section_id}}</div>
                        </div>                                               
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                        </div>                                               
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                                
                                {{ if (_id.status_id == 14) or (_id.status_id == 13) or (_id.status_id == 12): }}
                                    <input class="btn btn-primary" type="button" value="submit" disabled>                           
                                    <br>                                         
                                    <label><input type="checkbox" id="btnCancel" disabled> Cancel Sales Return?</label>
                                {{ else: }}
                                    <input class="btn btn-primary" type="submit" value="submit" id="btnsubmit">                                                              
                                    <br>
                                    <label><input type="checkbox" id="btnCancel"> Cancel Sales Return?</label>
                                {{ pass }} 
                                <!-- <input class="btn btn-success" type="button" value="proceed" id="btnproceed">                                 -->
                                <!-- <a class="btn btn-info" id="btnhelp" role="button" target="_blank" href="{{=URL('inventory','help_request')}}">help?</a> -->
                                {{=form.custom.end}}
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <hr>
            {{=LOAD('sales_man','get_sales_return_transaction_id.load', ajax = True, args = request.args(0), target = 'tblSR')}}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
$(document).ready(function(){    
    
    $("#btnsubmit").attr('disabled','disabled');
    $("#btnCancel").change(function(){
        if($("#btnCancel").is(":checked")) {            
            Cancel(); 
            $("#btnCancel").prop("checked", true);
        } else {
            $("#btnCancel").prop("checked", false);            
        }
    });     

});

function Cancel(){
    bootbox.confirm({ 
        size: "small",
        message: "Are you sure you want to cancel this record?",
        buttons: {
            confirm: {
                label: "Yes",
                className: "btn-success"
            },
            cancel: {
                label: "No",
                className: "btn-danger"
            }
        },
        callback: function (result) {
            if (result) {                    
                ajax("{{=URL('sales_man','put_sales_return_cancel_id', args = request.args(0))}}");      
                window.location.assign("{{=URL('inventory','get_fmcg_workflow_grid')}}");                                        
            } else {
                $("#btnCancel").prop("checked", false);
            }

        }
    })        
}
</script>