{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <span class="card-title">Item Master Grid</span>
            <ul class="nav nav-tabs pull-right" data-toggle="tabs">                    
                <li><a href="#"onclick=window.location="{{=URL('itm_add_form')}}";>+ ADD NEW</a></li>
                <li><a href="#"onclick=window.location="{{=URL('itm_add_batch_form')}}";>+ NEW BATCH</a></li>                
                <li class="active"><a href="#">BROWSE</a></li>                    
            </ul>                  
        </div>        
        <div class="card-body tab-content">            
            {{=table}}
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".table").DataTable();
    })
</script>