{{extend 'layout.html'}}
    <div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                    <!-- <li class=""><a href="#"onclick=window.location="{{=URL('inventory','item_prices_edit')}}";>+ ADD NEW</a></li>                     -->
                    <li class="active"><a href="#">BROWSE</a></li>
                </ul>            
                <span class="card-title">ITEM PRICES MASTER</span>
            </div>
            <div class="card-body tab-content">
                {{=form.custom.begin}}
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Item Code</label>
                            <div class="col-sm-8">
                                {{=form.custom.widget.item_code_id}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-sm-8">
                                {{=form.custom.submit}}
                            </div>
                        </div>
                    </div>
                </div>              
                {{=form.custom.end}}      
            </div>        
        </div>
    </div>        
     
<script>
    $(document).ready( function () {
        $('table').DataTable();
    } );
</script>
    
        
<script>
    $(document).ready(function(){
        $('.popover-dismiss').popover({
          trigger: 'focus'
        })
    });
</script>