{{extend 'layout.html'}}
    <div class="col-md-12">
        <div class="card card-underline">
            <div class="card-head">
                <span class="card-title">Item Master</span>
                <ul class="nav nav-tabs pull-right" data-toggle="tabs">              
                    {{ if auth.has_membership(role = 'ROOT'): }}
                    <li><a href="#"onclick=window.location="{{=URL('post_item_code')}}";>+ MANUAL</a></li>
                    {{ pass }}
                    <li><a href="#"onclick=window.location="{{=URL('itm_add_form')}}";>+ ADD NEW</a></li>
                    <li><a href="#"onclick=window.location="{{=URL('itm_add_batch_form')}}";>+ NEW BATCH</a></li>
                    <li class="active"><a href="#update">edit</a></li>
                    <li><a href="#"onclick=window.location="{{=URL('get_item_master_grid')}}";>BROWSE</a></li>                    
                </ul>            
                
            </div>
            <div class="card-body tab-content">
                <div class="tab-pane active" id="update">
                    {{=form.custom.begin}}
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-sm-4 control-label">Item Code</label>
                                <div class="col-sm-8">
                                    {{=form.custom.widget.item_code_id}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-8">
                                    {{=form.custom.submit}}
                                </div>
                            </div>
                        </div>
                    </div>              
                    {{=form.custom.end}}       
                    <br> 
                    {{=form2.custom.begin}}
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-sm-4 control-label">Supplier Reference</label>
                                <div class="col-sm-8">
                                    {{=form2.custom.widget.supplier_reference}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-8">
                                    {{=form2.custom.submit}}
                                </div>
                            </div>
                        </div>
                    </div>              
                    {{=form2.custom.end}}                                     
                </div>
                <div class="tab-pane" id="view">
                    <h1>view</h1>
                </div>

            </div>
        
        </div>
    </div>        
 
    
        
<script>
    $(document).ready(function(){
        $('.popover-dismiss').popover({
          trigger: 'focus'
        })
    });
</script>