{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">        
            <span class="card-title">Delivery Note Workflow</span>
        </div>
        <div class="card-body tab-content">
            {{=table}}
        </div>
    </div>                
</div>

<script>
    $(document).ready(function(){
        $(".table").DataTable();
        $("#btnUpdate").click(function(){
            console.log('update')
        });
           
       
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>