{{extend 'layout.html'}}
<div class="col-md-12">
    <div class="card card-underline">
        <div class="card-head">
            <!-- <ul class="nav nav-tabs pull-right" data-toggle="tabs">
                <li class="active"><a href="#"> VIEW EDIT</a></li>
                <li class=""><a href="#" onclick=window.location="{{=URL('inventory','str_kpr_grid')}}";>BROWSE</a></li>
            </ul> -->
            <span class="card-title">SALES RETURN</span>
        </div>
        <div class="card-body tab-content">                                            
            <div class="form-horizontal">   
                {{=form.custom.begin}}	                    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return No.</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="None" readonly>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Date</label>
                            <div class="col-sm-8">
                                <input class="form-control date" name="sales_return_date" id="sales_return_date" value="{{=request.now.date()}}" >
                                
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Request No.</label>
                            <div class="col-sm-8">                                
                                <input type="text" class="form-control" value="{{=_id.sales_return_request_prefix_id.prefix}}{{=_id.sales_return_request_no}}" readonly>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Request Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_return_request_date}}" readonly >
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Posted By</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_man_id.sales_man_name}}, {{=_id.sales_man_id.mv_code}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.dept_code_id.dept_code}} - {{=_id.dept_code_id.dept_name}}" readonly >
                                <input type="text" class="form-control" id="dept_code_id" name="dept_code_id" value="{{=_id.dept_code_id.dept_code}}" hidden >
                            </div>
                        </div>            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.location_code_id.location_code}} - {{=_id.location_code_id.location_name}}" readonly >
                                <input type="text" class="form-control" id="location_code_id" name="location_code_id" value="{{=_id.location_code_id}}" hidden >
                            </div>
                        </div>                                           
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Man</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.sales_man_on_behalf.sales_man_name}}, {{=_id.sales_man_on_behalf.mv_code}} " readonly>
                            </div>
                        </div>
                    </div>    
                </div>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Customer</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="{{=_id.customer_code_id.account_name}}, {{=_id.customer_code_id.account_code}} " readonly>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Return Reference</label>
                            <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{=_id.customer_order_reference}} " readonly>
                            </div>
                        </div>                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                {{ if _id.status_id == 13: }}
                                    <input type="text" class="form-control" value="{{=_id.status_id.description}} " readonly>
                                {{ else: }}
                                    {{=form.custom.widget.status_id}}                                    
                                {{ pass }}
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <address>
                                    <strong>Unit No. </strong>{{=_id.customer_code_id.unit_no}}<br>
                                    Bldg. {{=_id.customer_code_id.building_no}}<br>
                                    {{=_id.customer_code_id.street_no}}, {{=_id.customer_code_id.area_name}} {{=_id.customer_code_id.state}}<br>
                                    <abbr title="Phone">P:</abbr> {{=_id.customer_code_id.telephone_no}}
                                </address>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Section</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="{{=_section}} " readonly></div>
                        </div>                                               
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Invoice No</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="{{=_id.sales_invoice_no}} " readonly></div>
                        </div>                                               
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Remarks</label>
                            <div class="col-sm-8">{{=form.custom.widget.remarks}}</div>
                        </div>                                               
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">                                
                                {{ if _id.status_id == 13: }}
                                    <input class="btn btn-primary" type="submit" value="create sales return & print" id="btnreturn" disabled>
                                    <label><input type="checkbox" id="btnCancel" disabled> Cancel Sales Return?</label>
                                {{ else: }}
                                    <input class="btn btn-primary" type="button" value="create sales return & print" id="btnreturn">                                                                              
                                    <label><input type="checkbox" id="btnCancel"> Cancel Sales Return?</label>
                                {{ pass }}            
                                {{=form.custom.end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {{=LOAD('sales','sales_return_transaction_table.load', ajax = True, args = request.args(0),  target = 'tblsot')}}
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#btnreturn').attr('disabled','disabled');
    $('#Sales_Return_status_id').change(function(){
        var _var = $(this).find(":selected").val()
        if (_var == 13) {
            $('#btnreturn').removeAttr('disabled');
        } else {
            $('#btnreturn').attr('disabled','disabled');
        }
    });
    $('#btnreturn').click(function(){     
        ajax('{{=URL('sales','sales_return_accounts_form_approved', args = request.args(0))}}',['remarks','sales_return_date']);                
    })
    
    $("#btnCancel").change(function(){
        if($("#btnCancel").is(":checked")) {            
            Cancel(); 
            $("#btnCancel").prop("checked", true);
        } else {
            $("#btnCancel").prop("checked", false);            
        }
    });     

    
});
    function PrintSalesReturn(){        
        window.open('{{=URL('default','sales_return_report_account_user',args = request.args(0))}}');                
    };

    function AccountRedirect(){          
        window.location.href = "{{=URL('inventory','account_grid')}}"                              
    }    
    function Cancel(){
        // console.log("Cancelled transaction...");
        // var _id = $(this).attr('data-id');
        bootbox.confirm({ 
            size: "small",
            message: "Are you sure you want to cancel this record?",
            buttons: {
                confirm: {
                    label: "Yes",
                    className: "btn-success"
                },
                cancel: {
                    label: "No",
                    className: "btn-danger"
                }
            },
            callback: function (result) {
                if (result) {                    
                    ajax("{{=URL('sales','sales_return_cancel_id', args = request.args(0))}}");
                    window.location.assign("{{=URL('inventory','account_grid')}}");                        
                } else {
                    $("#btnCancel").prop("checked", false);
                }

            }
        })        
    }    
</script>